<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="#">Accesories Shop</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink = "/">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink = "/page/cart">Checkout </a>
          </li>
          <!-- Pages -->
          <!-- / Blog -->

        </ul>
      </div>
      <!-- Navbar-collapse -->
  
      <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <!-- <li class="list-inline-item">
          <a routerLink = "/" class="search_toggle" id="search-icon"><i class="tf-ion-android-search"></i></a>
        </li> -->
  
        <li class="dropdown cart-nav dropdown-slide list-inline-item">
          <a routerLink = "/page/cart" class="dropdown-toggle cart-icon" data-toggle="dropdown" data-hover="dropdown">
            <i class="tf-ion-android-cart"></i>
          </a>
          <div class="dropdown-menu cart-dropdown">
            <!-- Cart Item -->
            <div *ngFor="let product of cartProducts" class="media">
              <a href="#">
                <img class="media-object img- mr-3" src={{product.imageUrl}} alt="image" />
              </a>
              <div class="media-body">
                <h6>{{product.name}}</h6>
                <div class="cart-price">
                  <span>{{product.quantity}} x</span>
                  <span>{{product.price}}</span>
                </div>
              </div>
              <a (click)="removeFromCart(product)" class="remove"><i class="tf-ion-close"></i></a>
            </div><!-- / Cart Item -->
  
            
  
            <div class="cart-summary">
              <!-- <span class="h6">Total</span>
              <span class="total-price h6">$ {{cartTotal}}</span> -->
  
              <div class="text-center cart-buttons mt-3">
                <a  class="btn btn-small btn-transparent btn-block" routerLink = "/page/cart">View Cart</a>
                <!-- <a href="#" class="btn btn-small btn-transparent btn-block">View Cart</a> -->
                
              </div>
            </div>
          </div>
        </li>
        
     
      </ul>
    </div>
  </nav>