<div class="container">
  <div class="row">
    <!--Main Container that shows two divs of pictures and div in side by side-->
    <div class="col-lg">
      <!--Product Image and Slides Container-->
      <!--Product Image-->
      <img src="https://picsum.photos/200/300" />
    </div>

    <div class="col-lg">
      <!--Product Details Container-->
      <div class="row">
        <div class="col-lg product-name">
          <!--Product Name-->
          Test Product
          <div>
            <!--Product Description-->
            <p>Some Description</p>
          </div>
          <div>
            <hr />
          </div>
        </div>
        <div class="col-lg">
          <span class="material-symbols-outlined"> favorite </span>
        </div>
        <!--Logos like heart etc-->
      </div>

      <div class="row">
        <!--Product Price and Reviews Container -->
        <div class="col-lg product-name">
          <div>$5.23</div>
          <div><del>$10</del></div>

          <div>
            <hr />
          </div>
        </div>
        <div class="col-lg"><span class="material-symbols-outlined">
            reviews
            </span></div>
        <!--Logos like heart etc-->
      </div>
    </div>
  </div>
</div>
