@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.product-name{

    font-family: 'DM Serif Display', serif;
}

.addToCartButton{
    background-color: #757575;
    color: #FEFCFC;
    border: 2px solid #757575;
    margin-left: 12px;
}