<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Your Orders</h1>
        <!-- <div *ngIf="!orders">Loading...</div> -->
        <table class="table" *ngIf="orders">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Date</th>
              <th>Items</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order._id }}</td>
              <td>{{ order.createdAt | date }}</td>
              <td>
                <ul>
                  <li *ngFor="let item of order.items">{{ item.name }} - {{ item.price | currency }}</li>
                </ul>
              </td>
              <td>{{ order.total | currency }}</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="!orders">
          <p style="font-size: 2rem;">Please Login to view Orders</p>
        </div>
      </div>
    </div>
  </div>
  