<div class="container">
	<div class="row"> 
		 <!--Main Container that shows two divs of products and card details in side by side-->
		 <div class="col-lg">
      <!--Product Images and details Container-->
	  <div *ngFor="let product of cartProducts" class="card">
		<div class="card-body row">
			<div class="col-md"><img src={{product.imageUrl}}></div>
			<div class="col-sm">{{product.name}}</div>
			<div class="col-sm">{{product.quantity}}</div>
			<div class="col-sm">${{product.price}}</div>
			<div class="col-sm">
			<a (click)="removeFromCart(product)" class="remove"><i class="tf-ion-close"></i></a>
		</div>
		</div>
	  </div>
		 </div>

		 <div class="col-lg card-box">
<!--Card Container-->
<p style="color:#FEFCFC">Card Details</p>
<div style="color:#FEFCFC">Card Type</div>
<!--Credit Cards boxes-->
<div class="container">
	<div class="row">
	  <div class="col-4" style="background-color: #7073C1;margin-right: 5px; text-align: -webkit-center;">
		<img src="assets/images/master-card.png" style="height: 40px;">
	  </div>
	  <div class="col-4" style="background-color: #7073C1; text-align: -webkit-center;">
		<img src="assets/images/visa.png" style="height: 40px;">
	  </div>
	  
	</div>
  </div>
  <!--Credit Cards boxes end-->
<div class="form-container">
	<form>
		<div class="form-group">
			<label for="formGroupExampleInput">Name on card</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
		  </div>

		  <div class="form-group">
			<label for="formGroupExampleInput">Card Number</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
		  </div>

		  <div class="form-row">
			<div class="form-group col-md-6">
			  <label for="inputEmail4">Expiration date</label>
			  <input type="email" class="form-control" id="inputEmail4" placeholder="mm/yy">
			</div>
			<div class="form-group col-md-6">
			  <label for="inputPassword4">CSV</label>
			  <input type="password" class="form-control" id="inputPassword4" placeholder="123">
			</div>
		  </div>

		  <div class="container">
<div class="row">
	<div class="col-sm-6">
<div class="text-color">Subtotal</div>
<div class="text-color">Shipping</div>
<div class="text-color">Total (Tax incl.)</div>
	</div>
	<div class="col-sm-6 prices-container">
<div class="text-color">$668</div>
<div class="text-color">$4</div>
<div class="text-color">$672</div>
	</div>
</div>

		  </div>
		<button class="submit-btn">Checkout</button>
	</form>
</div>
		 </div>
	</div>

</div>