<div class="container">
	<div class="row"> 
		 <!--Main Container that shows two divs of products and card details in side by side-->
		 <div class="col-lg">
      <!--Product Images and details Container-->
	  <div *ngFor="let product of cartProducts" class="card">
		<div class="card-body row">
			<div class="col-md"><img src={{product.imageUrl}}></div>
			<div class="col-sm">{{product.name}}</div>
			<div class="col-sm">{{product.quantity}}</div>
			<div class="col-sm">${{product.price}}</div>
		</div>
	  </div>
		 </div>

		 <div class="col-lg">
<!--Card Container-->
<p>Card</p>
		 </div>
	</div>

</div>